<%= nested_form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <br />
	
  <div class="field">
	<%= f.fields_for :recipe_ingredients do |f| %>
		<div class="fields">
		  <%= render 'recipe_ingredient_fields', :f => f %>
		</div>
	<% end %>
  	<%= link_to_add_fields "Agregar Ingrediente", f, :recipe_ingredients %> <em>(solo imágenes cuadradas)</em>
  </div>
  <br />

  <div class="field">
	<%= f.label :tag, 'Tags' %>
	<% Tag.all.each do |tag| %>
		<div style="margin-top:5px">
			<%= check_box_tag("recipe[tag_ids][]", tag.id, (@recipe.tags.include? tag)) %> 
			<span style="color:#555"><%= tag.name.capitalize %></span>
		</div>
	<% end %>
  </div>
  <br />

  <div class="field">
    <%= f.label :cooking_time %><br />
    <%= f.number_field :cooking_time %> minutos
  </div>
  <br />

  <div class="field">
	<%= f.fields_for :recipe_images do |f| %>
		<div class="fields">
			<%= render 'recipe_image_fields', :f => f %>
		</div>
	<% end %>
  	<%= link_to_add_fields "Agregar Imagen de Receta", f, :recipe_images %> <em>(solo imágenes cuadradas)</em>
  </div>
  <br />

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <br />

  <div class="field">
    <%= f.label :dificulty %><br />
    <%= f.number_field :dificulty %>
  </div>
  <br />

  <div class="field">
    <%= f.label :dificulty_reason %><br />
    <%= f.text_area :dificulty_reason %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
