<h1>Listing recipes</h1>

<table>
<% @recipes.each do |recipe| %>
  <tr>
    <td><%= image_tag recipe.recipe_images.first.image.url(:thumb) %><br /></td>
    <td><%= recipe.name %></td>
    <td>
		<% recipe.recipe_ingredients.each do |ri| %>
			- <%= ri.ingredient.name if !ri.ingredient.nil? %><br />
		<% end %>
	</td>
    <td><%= recipe.introduction %></td>
    <td><%= link_to 'Ver instrucciones', recipe %></td>
	<% if @user.admin? %>
    	<td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    	<td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe', new_recipe_path %> | <%= link_to 'Administrador', home_administrator_home_path %>
