<script>
	$(function(){
		$('input:text').each(function(){
			var txtval = $(this).val();
			$(this).focus(function(){
				$(this).val('')
				$(this).css('color', 'black')
			});
			$(this).blur(function(){
				if($(this).val() == ""){
					$(this).val(txtval);
					$(this).css('color', '#bbb')
				}
			});
		});
	});
</script>
<div>
	<%= link_to 'AGREGAR RECETAS', new_recipe_path %>
</div>

<div style="float:right;">
	<form action="<%= recipe_my_recipes_path %>" method="get">
		<%= text_field_tag(:q, @search_term, id: 'src_txt', 
			value: 'Busca recetas', rel: @search_text, class: 'rounded', style: 'width:500px; color:#bbb') %>	
		<%= submit_tag("Buscar", :name => nil) %>
	</form>
</div>
<div style="float:left; max-width:200px">
	<form action="<%= recipe_my_recipes_path %>" method="get">
		<%= submit_tag("Filtrar", :name => nil) %>
		<br />
		<b>Tipo de receta:</b>
		<br/>
		<% Tag.all.each do |tag| %>
			<%= check_box_tag("recipe[tag_names][]", tag.name, (@tag_names.include? tag.name)) %>
			<%= tag.name %><br />
		<% end %>
		<br/>
		<b>Comidas:</b>
		<br/>
		<% Meal.all.each do |meal| %>
			<%= check_box_tag("recipe[meal_names][]", meal.name, (@meal_names.include? meal.name)) %>
			<%= meal.name %><br />
		<% end %>
	</form>
</div>
<div style="float:left; max-width:630px">
	<% @recipes.each do |r| %>
		<%= render 'recipe_box', recipe: r %>
	<% end %>
</div>
<div class="clear"></div>