<div style="float:left; max-width:500px">
	<h1>Chef <%= @chef_profile.chef_name %></h1>
	<p>
		<% if check_if_current_user_is_chef(@chef_profile) %>
			<%= link_to 'Editar Perfil', edit_chef_profile_path(@chef_profile) %><br />
		<% end %>
	  	<%= image_tag @chef_profile.avatar.url(:medium) %>
	</p>
	<p>
	  <%= @chef_profile.introduction %>
	</p>
</div>
<div style="float:left; margin-top:30px; margin-left:10px; max-width:350px">
	<h2>Recetas agregadas</h2>
	<% @chef_profile.user.recipes.each do |recipe| %>
		<div style="float:left; margin:10px;">
			<%= link_to recipe.name, recipe %><br />
			<%= link_to image_tag(recipe.recipe_images.first.image.url(:thumb)), recipe %>
		</div>
	<% end %>
</div>
<div class="clear"></div>
<div>
	<h2>Recetas favoritas de <%= @chef_profile.chef_name %></h2>
	<% @chef_profile.user.user_favorites.each do |favorite| %>
		<div style="float:left; margin:10px;">
			<%= link_to favorite.recipe.name, favorite.recipe %><br />
			<%= link_to image_tag(favorite.recipe.recipe_images.first.image.url(:thumb)), favorite.recipe %>
		</div>
	<% end %>
</div>
<div class="clear"></div>