<%= form_for(@ingredient) do |f| %>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% @ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %> <%= f.text_field :name %>
  </div>
  <br />
  <div class="field">
	<%= f.fields_for :ingredient_images do |f| %>
		<div class="fields">
			<%= render 'ingredient_image_fields', :f => f %>
		</div>
	<% end %>
  	<%= link_to_add_fields "Agregar Imagen", f, :ingredient_images %> <em>(solo imágenes cuadradas)</em>
  </div>
  <br />
  <div class="field">
	<%= f.label :ingredient_category_id, 'Cateogría' %> 
	<%= f.collection_select :ingredient_category_id, IngredientCategory.all, :id, :name, :prompt => true, :allow_blank => false %>
  </div>
  <br />
  <div class="field">
	<%= f.label :measure_id, 'Medida' %> 
	<%= f.collection_select :measure_id, Measure.all, :id, :name, :prompt => true, :allow_blank => false %>
  </div>

  <br />
  <div class="field">
	<%= f.label :price %> <%= f.text_field :price %>
  </div>
  <br />
  <div class="field">
    <%= f.label :quantity_for_price %> <%= f.text_field :quantity_for_price %>
  </div>
  <br />
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
