<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ingredient.name %>
</p>
<p>
  <b>Categoría:</b>
  <%= @ingredient.ingredient_category.name if !@ingredient.ingredient_category.nil? %>
</p>

<p>
  <b>Measure:</b>
  <%= @ingredient.measure.name if !@ingredient.measure.nil?  %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency @ingredient.price, :precision => 0 %>
cada <%= @ingredient.quantity_for_price %> <%= @ingredient.measure.name  if !@ingredient.measure.nil? %>
</p>
<p>
  <%= image_tag @ingredient.ingredient_images.first.image.url(:thumb)  if !@ingredient.ingredient_images.first.nil? %>
</p>
<p>
  <b>Description:</b>
  <%= @ingredient.description %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> | <%= link_to 'Ver lista de Ingredientes', ingredients_path %>