<ul>
	<li><%= link_to 'Menú Actual', '#' %></li>
	<li><%= link_to 'Historial Menús', '#' %></li>
	<li><%= link_to 'Estilos', '#' %></li>	
	<li><%= link_to 'Preferencias', '#' %></li>	
	<li><%= link_to 'Recetas', '#' %></li>
</ul>