<h1>¡Bienvenido al Administrador! <%= @user.email %></h1>
<h2>Usar con preocuacuón y cariño</h2>
<br />
<%= link_to 'Menus', menus_path %><br /><br />
<%= link_to 'Recetas', recipes_path %><br /><br />
<%= link_to 'Ingredientes', ingredients_path %><br /><br />
<%= link_to 'Tags', tags_path %><br /><br />
<%= link_to 'Medidas', measures_path %><br /><br />
