<script>
	$(function(){
		$('input:text').each(function(){
			var txtval = $(this).val();
			$(this).focus(function(){
				$(this).val('')
			});
			$(this).blur(function(){
				if($(this).val() == ""){
					$(this).val(txtval);
				}
			});
		});
	});
</script>

<div style="background-color: black; text-align:center; padding:1px 0px 1px 0px">
</div>
<div style="text-align:center; margin-top:200px; left:30%; position:absolute; z-index:99;">
	¡¡Bienvenido!!
</div>

<div class="center" id="home_content">
	
</div>

<div style="background-color: black; text-align:center; padding:10px 0px 10px 0px">
	<span style="color:white">"Este sistema me hace la vida más feliz porque ahora..." - Juanita Perez</span text->
</div>

<div style="">
	<div style="width:984px; margin:0 auto; padding: 50px 0 50px;">
		<div style="width: 436px; float: left;
		min-height: 1px;
		padding: 0 15px;
		position: relative;">
			<h1>TU MENÚ SEMANAL, TU LISTA DE COMPRAS, TUS RECETAS</h1>
			<h2>Shopping List te genera de forma automática tu lista de compras y el menú de recetas para que comas como a ti te gusta de forma simple y conveniente.</h2>
		</div>
		<div style="
			background: url(<%= asset_path 'landing_page/video-in-laptop.png' %>) no-repeat center top;
			width: 740px;
			height: 384px;
			position: relative;
			left:350px;
			display: block;">
		</div>
	</div>
<div class="clear"></div>
</div>

<div style="background-color: black; text-align:center; padding:10px 0px 10px 0px">
	<span style="color:white">"Este sistema me hace la vida más feliz porque ahora..." - Juanita Perez</span text->
</div>

<div style="">
	<div style="width:984px; margin:0 auto; padding: 50px 0 50px;">
		<h1>Regístrate GRATIS y comienza a generar tu menú y lista de compras de inmediato</h1>
		<div style="text-align:center; margin-top:10px">
			<%= form_for resource, :url => registration_path(resource_name) do |f| %>
				<%= f.text_field :name, value: 'Nombre', class: 'rounded', style: 'margin-right:5px' %>
			  	<%= f.text_field :email, value: 'Correo', class: 'rounded', style: 'margin-right:5px' %>
			  	<%= f.password_field :password, value: 'Clave', class: 'rounded', style: 'margin-right:5px' %>
			  	<%= f.submit "Entrar", style: 'font-size:20px' %>
			<% end %>
		</div>
	</div>
	<div style="text-align:center; margin-top:200px; left:30%; position:absolute; z-index:99;">
		<h1>¡¡En todo el mundo lo están usando!!</h1>
	</div>
	<div style="
		background: url(<%= asset_path 'landing_page/world-map.png' %>) no-repeat center top;
		width: 950px;
		height: 500px;
		margin:0 auto;">
	</div>
</div>
