<script>
	$(function(){
		$('input:text').each(function(){
			var txtval = $(this).val();
			$(this).focus(function(){
				$(this).val('')
				$(this).css('color', 'black')
			});
			$(this).blur(function(){
				if($(this).val() == ""){
					$(this).val(txtval);
					$(this).css('color', '#bbb')
				}
			});
		});
	});
</script>

<div class="left">
	<form action="<%= recipe_search_path %>" method="get">
		<%= text_field_tag(:q, @search_term, id: 'src_txt', 
			value: 'Comienza buscar tu receta para hoy', rel: @search_text, class: 'rounded', style: 'width:500px; color:#bbb') %>	
		<%= submit_tag("Buscar", :name => nil, :class => 'button_filter_pink') %>
	</form>
	<div style="margin-top:10px"></div>
	<h1>Explora recetas para tus distintas comidas</h1>
	<% @meals.each do |meal| %>
		<%= render 'meal_collage', meal: meal %>
	<% end %>
	<div class="clear"></div>
	<h1>Ultimas recetas agregadas</h1>
	<% @recipes.each do |r| %>
		<div style="float:left; margin:10px; background:#f6f6f6">
			<%= link_to image_tag(r.recipe_images.first.image.url(:small)), r %><br />
			<p style="text-align:center;">
				<%= link_to r.name, r %><br />
				<% r.meals.each do |meal| %>
					| <em><%= meal.name %></em> | 
				<% end %>
				<br />
				<% r.get_main_ingredients.each do |ri| %>
					<em style="font-size:10px">| <%= ri.ingredient.name %> |</em> 
				<% end %>
				<br />
				Autor: <%= (!r.user.nil? and !r.user.chef_profile.nil?) ? link_to(r.user.name, chef_profile_path(r.user.chef_profile)) : 'Privado' %>
			</p>
		</div>
	<% end %>
</div>
<div class="clear"></div>