<h1>¡Bienvenido! <%= @user.email %></h1>
<% unless @menu.nil %>
	<h2>Menú Actual</h2>
	<%= link_to 'Ver lista de compra', show_shopping_list_path %> | <%= link_to 'Editar Menu', edit_menu_path(@menu) %>

	<p>
	  <% @menu.recipes.each_with_index do |r, i| %>
		- <%= link_to r.name, r %> - <%= l (@menu.start_date + i.days) %><br />
	  <% end %>
	</p>
<% end %>

<h2>Tus estilos:</h2>
<%= link_to 'Editar estilos', tags_assign_to_user_path %>
<div class="clear"></div>
<% @user.tags.each do |tag| %>
	<div style="float:left; margin:10px; background:#f6f6f6">
		<%= image_tag('tags/'+tag.image_name, width: '180px', height: '180px') %><br />
		<p style="text-align:center;">
			<%= tag.name.capitalize %>
		</p>
	</div>
<% end %>
<div class="clear"></div>

<h2>Tus preferencias:</h2>
<%= link_to 'Editar preferecias', edit_user_preference_path(@user.user_preference) %>
<p>Día en el que se enviará la lista de compras: <b><%= t Date::DAYNAMES[@user.user_preference.day_to_send_email] %></b></p>
<h3>Ingredientes que no incluiremos en tu lista de comidas</h3>
<% @user.user_preference.ingredients.each do |i| %>
	<p>- <%= i.name.capitalize %></p>
<% end %>

<div class="clear"></div>