<%= form_for(@user_preference) do |f| %>
  <% if @user_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_preference.errors.count, "error") %> prohibited this user_preference from being saved:</h2>

      <ul>
      <% @user_preference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day_to_send_email %><br />
    <%= f.number_field :day_to_send_email %>
  </div>
  <div class="field">
    <%= f.label :week_time_span %><br />
    <%= f.number_field :week_time_span %>
  </div>
  <div class="field">
    <%= f.label :people %><br />
    <%= f.number_field :people %>
  </div>
  <div class="field">
	<%= f.label :meals, 'Comidas para incluír en el menú' %>
	<% Meal.all.each do |i| %>
		<div style="margin-top:5px">
			<%= check_box_tag("user_preference[meal_ids][]", i.id, (@user_preference.meals.include? i)) %> 
			<span style="color:#555"><%= i.name.capitalize %></span>
		</div>
	<% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
