<%= form_for(@user_preference) do |f| %>
  <% if @user_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_preference.errors.count, "error") %> prohibited this user_preference from being saved:</h2>

      <ul>
      <% @user_preference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br />
  <div class="field">
    <%= f.label :day_to_send_email, '¿Qué días quieres recibir el menú y la lista de compras?' %>
	<%= f.select :day_to_send_email, 
				[['Lunes', 2], ['Martes', 3], ['Miércoles', 4], ['Jueves', 5], ['Viernes', 6], ['Sábado', 7], ['Domingo', 1]] %>
  </div>
  <br />
  <div class="field">
    <%= f.label :week_time_span, '¿Cada cuántas semanas quieres que te enviemos un nuevo menú?' %>
	<%= f.select :week_time_span, [[1, 1], [2, 2], [3, 3], [4, 4]] %>
  </div>
  <br />
  <div class="field">
    <%= f.label :people, '¿Cuántas personas debe considerar el menú?' %>
	<%= f.select :week_time_span, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5], [6, 6]] %>
  </div>
  <br />
  <div class="field">
	<%= f.label :meals, '¿Qué comidas quieres que incluya el menú?' %>
	<% Meal.all.each do |i| %>
		<div style="margin-top:5px">
			<%= check_box_tag("user_preference[meal_ids][]", i.id, (@user_preference.meals.include? i)) %> 
			<span style="color:#555"><%= i.name.capitalize %></span>
		</div>
	<% end %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit 'Actualizar ajustes' %>
  </div>
<% end %>
