<div class="header">
	<div class="header_content">
		<div class="left">
			<%= link_to image_tag('logo/logo.jpg'), home_user_home_path %>
		</div>
		<div class="user_nav right" style="text-align:right; font-size:11px">
			<div>
				<% if user_signed_in? %>
				  Hola <%= current_user.name %>! |
  				  <%= link_to "Ver Perfil", chef_profile_path(current_user.get_chef_profile) %> | 
				  <%= link_to "Salir", destroy_user_session_path, :method => :delete %>
				<% else %>
				  <%= link_to "Entrar", new_user_session_path %> | <%= link_to "Registrarse", new_user_registration_path %>
				<% end %>
			</div>
			<div style="margin-top:20px; font-size:13px; font-weight:bold;">
				<%= link_to 'INICIO', home_user_home_path %> | 
				<%= link_to 'VER RECETAS', '#' %> | 
				<%= link_to 'AGREGAR RECETAS', new_recipe_path %> | 
				<%= link_to 'MIS RECETAS', '#' %> | 
				<%= link_to 'LISTA DE COMPRAS', home_shopping_list_path %>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>