<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<title>ShoppingCart</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<% if @home || false %>
	<%= yield %>
<% else %>
	<div class="content">
		<% if !notice.nil? %>
			<p class="notice"><%= notice %></p>
		<% end %>
		<% if !alert.nil? %>
			<p class="alert"><%= alert %></p>
		<% end %>		
		<div style="margin:20px">
			<%= yield %>
		</div>
	</div>
<% end %>
	<div style="border-top:1px solid #e0e2e5;">
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
